node_modules/*

!node_modules/bootstrap/dist/css/bootstrap.css
!node_modules/bootstrap/dist/js/bootstrap.bundle.js

!node_modules/datatables.net/js/dataTables.js

!node_modules/datatables.net-dt/css/dataTables.dataTables.css
!node_modules/datatables.net-dt/js/dataTables.dataTables.js

!node_modules/jquery/dist/jquery.min.js

!node_modules/sweetalert2/dist/sweetalert2.min.css
!node_modules/sweetalert2/dist/sweetalert2.min.js

!node_modules/.package-lock.json



